html,body {
    width: 100%;
    background-color: #888;
    text-align: center;
    height: 100%;
}

.App {
  margin: auto;
  background-color: #eee;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
  text-align: center;
  width: 1000px;
  height: stretch;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
